:root {
/* COLOR */
  --black: #262626;
  --gray: #DBDBDB;
  --lightGray: #EFEFEF;
  --brightGray: #FAFAFA;
  --white: #FFFFFF;
  --skyBlue: #0095F6;
  --lightBlue: #B3DFFC;
  --red: #EE2D3E;
}

/* input */
input {
    width:100%;
    border:1px solid #d8d8d8;
    background:#fafafa;
}

/* button */
.btnS {
    height:30px;
}
.btnM {
    height:40px;
}
.btnL {
    height:50px;
}

/* button background */
.btnBlue {
    background:#0095f6;
    border:1px solid #0095f6;
    color:var(--white);
    border-radius: 5px;
}
.btnNormal {
    background: var(--brightGray);
    border:1px solid var(--black);
    color:var(--black);
    font-weight: 800;
}
.backBtn {
    border:1px solid #dbdbdb
}

/* display */
.disFlex {
    display:flex;
}
.inlineB {
    display:inline-block;
}

/* float */
.fLeft {
    float:left;
}

/* 정렬 */
.alignC {
    align-items:center;
}
.justifyC {
    justify-content:center;
}
.justifyL {
    justify-content:left;
}
.textC {
    text-align:center;
}

/* width */
.w100 {
    width:100%;
}

/* margin */
.m10 {
    margin:10px;
}

.m20 {
    margin:20px;
}

/* margin-top */
.mt5 {
    margin-top:5px;
}
.mt10 {
    margin-top:10px;
}

/* margin-right */
.mr10 {
    margin-right:10px;
}

/* margin-bottom */
.mb10 {
    margin-bottom:10px;
}
.mb15 {
    margin-bottom:15px;
}
.mb20 {
    margin-bottom:20px;
}

/* padding */
.p10 {
    padding: 10px;
}
.p30 {
    padding: 30px;
}

/* padding-bottom */
.pb15 {
    padding-bottom:15px;
}
.pb30 {
    padding-bottom:30px;
}

/* overflow:hidden */
.overFlow {
    overflow:hidden;
}

/* font-weight */
.fw400 {
    font-weight:400;
}
.fwB {
    font-weight:bold;
}

/* 공통박스 */
.commonWrap {
    max-width:975px;
    flex-direction:column;
}
.commonTxt {
    color:#8e8e8e;
}

/* 앱다운로드 */
.appDownBtn img {
    width:135px;
}

/* loading */
#loading {
    display:none;
    position:absolute;
    left:50%;
    transform:translate(-50%, 0);
}

/* msg */
.msg {
    text-align:left;
}
.compleMsg {
    color:var(--skyBlue);
}
.errorMsg {
    color:var(--red);
}


/* media screen min-width:481px */
@media  screen and (min-width:481px) {
    /* input */
    input {
        height:35px;
        padding:0 13px;
        border-radius: 5px;
    }
    input::placeholder {
        font-size:12px;
    }
    /* 공통박스 */
    .commonWrap {
        margin:100px auto;
    }
    .commonTxt {
        font-size:14px;
    }
    /* 앱 다운로드 */
    .appDownWrap {
        margin:10px 20px;
    }
    .appDownWrap > p {
        padding:20px 0;
        font-size:14px;
    }
    .appDownBtn {
        margin:10px 0;
    }
    /* 공통 msg */
    .msg {
        font-size:12px;
    }
}

/* media screen max-width:480px */
@media  screen and (max-width:480px) {
    /* button */
    .backBtn {
        height:40px;
        font-size:12px;
    }
    /* input */
    input {
        height:30px;
        padding:0 9px;
        border-radius:4px;
    }
    input::placeholder {
        font-size:12px;
    }
    /* 공통박스 */
    .commonWrap {
        margin:50px auto;
    }
    .commonTxt {
        font-size:12px;
    }
    /* 앱 다운로드 */
    .appDownWrap {
        padding:5px 20px;
    }
    .appDownWrap > p {
        padding:10px 0;
        font-size:12px;
    }
    .appDownBtn {
        margin:5px 0;
    }
    /* 공통 msg */
    .msg {
        font-size:11px;
    }
}