:root {
/* COLOR */
  --black: #262626;
  --gray: #DBDBDB;
  --lightGray: #EFEFEF;
  --brightGray: #FAFAFA;
  --white: #FFFFFF;
  --skyBlue: #0095F6;
  --lightBlue: #B3DFFC;
  --red: #EE2D3E;
}

/* input */
input {
    width:100%;
    border:1px solid #d8d8d8;
    background:#fafafa;
}

/* button */
.btnS {
    height:30px;
}
.btnM {
    height:40px;
}
.btnL {
    height:50px;
}

/* button background */
.btnBlue {
    background:#0095f6;
    border:1px solid #0095f6;
    color:var(--white);
    border-radius: 5px;
}
.btnNormal {
    background: var(--brightGray);
    border:1px solid var(--black);
    color:var(--black);
    font-weight: 800;
}
.backBtn {
    border:1px solid #dbdbdb
}

/* display */
.disFlex {
    display:flex;
    flex-direction:row;
}
.inlineB {
    display:inline-block;
}

/* float */
.fLeft {
    float:left;
}

/* 정렬 */
.flexC {
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}
.col-between {
    display:flex;
    justify-content:space-between;
}
.alignC {
    align-items:center;
}
.justifyC {
    justify-content:center;
}
.justifyL {
    justify-content:left;
}
.textC {
    text-align:center;
}

.material-icons {
    color:var(--black);
}

/* width */
.w100 {
    width:100%;
}

/* margin */
.m10 {
    margin:10px;
}

.m20 {
    margin:20px;
}

/* margin-top */
.mt5 {
    margin-top:5px;
}
.mt10 {
    margin-top:10px;
}

/* margin-right */
.mr10 {
    margin-right:10px;
}
.mr40 {
    margin-right:40px;
}

/* margin-bottom */
.mb10 {
    margin-bottom:10px;
}
.mb15 {
    margin-bottom:15px;
}
.mb20 {
    margin-bottom:20px;
}
.mb40 {
    margin-bottom:40px;
}

/* margin-left */
.ml5 {
    margin-left:5px;
}
.ml10 {
    margin-left:10px;
}
.ml15 {
    margin-left:15px;
}
.ml20 {
    margin-left:20px;
}

/* padding */
.p10 {
    padding: 10px;
}
.p30 {
    padding: 30px;
}

/* padding-right */
.pr10 {
    padding-right:10px;
}
.pr30 {
    padding-right:30px;
}

/* padding-bottom */
.pb10 {
    padding-bottom:10px;
}
.pb15 {
    padding-bottom:15px;
}
.pb30 {
    padding-bottom:30px;
}

/* padding-left */
.pl5 {
    padding-left:5px;
}
.pl10 {
    padding-left:10px;
}
.pl20 {
    padding-left:20px;
}

.position-r {
    position: relative;
}

/* overflow:hidden */
.overFlow {
    overflow:hidden;
}

/* font-weight */
.fw400 {
    font-weight:400;
}
.fs600 {
    font-weight:600;
}
.fwB {
    font-weight:bold;
}

/* 공통박스 */
.commonWrap {
    margin:20px;
    max-width:975px;
    flex-direction:column;
}
.commonTxt {
    color:#8e8e8e;
}

/* 앱다운로드 */
.appDownBtn img {
    width:135px;
}

/* loading */
#loading {
    display:none;
    position:absolute;
    left:50%;
    transform:translate(-50%, 0);
}

/* msg */
.msg {
    text-align:left;
}
.compleMsg {
    color:var(--skyBlue);
}
.errorMsg {
    color:var(--red);
}

.modalBg {
    position: absolute;
    width:100%;
    height:100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background:rgba(0,0,0,0.55);
    z-index:1000;
}
.modalList {
    padding:8px 16px;
}

/* profile img */
.profImg {
    width:32px;
    height:32px;
    background:red;
    border-radius:50%
}

/* one-txt-ellipsis */
.oneTxtLine {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

/* 탭 메뉴 */
.tabMenu {
    border-top:1px solid rgb(219, 219, 219);
}
.tabMenu ul {
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.tabMenu ul > li {
    display:flex;
    height:50px;
    margin-right:60px;
    align-items:center;
    font-size:12px;
    font-weight:600;
    color:rgb(142, 142, 142);
    cursor:pointer;
}
.tabMenu ul > li.active {
    border-top:1px solid #212121;
    color:#212121;
}
.tabMenu ul > li span {
    margin-right:5px;
    font-size:18px;
    color:rgb(142, 142, 142)
}
.tabMenu ul > li.active span {
    font-weight:600;
    color:#212121;
}
.tabContent.content1 {
    display:none;
}
.tabContent.content2 {
    display:block;
}

/* 컨텐츠 없을 때 뜨는 텍스트 */
.noneContentWrap {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    max-width:360px;
    margin:60px auto 0;
}
.noneContentWrap .title {
    height:32px;
    margin:20px 0;
    font-size:28px;
    font-weight:300;
}
.noneContentWrap .txt {
    font-size:14px;
}

.tabContent .contentTop .left {
    font-size:12px;
    color:rgb(142, 142, 142);
}
.tabContent .contentTop .right {
    font-size:14px;
    color:rgb(0, 149, 246);
    cursor:pointer;

}

/* media screen min-width:481px */
@media screen and (min-width:481px) {
    /* input */
    input {
        height:35px;
        padding:0 13px;
        border-radius: 5px;
    }
    input::placeholder {
        font-size:12px;
    }
    /* 공통박스 */
    .commonWrap {
        margin:40px auto;
        padding:0 20px;
    }
    .commonTxt {
        font-size:14px;
    }
    /* 앱 다운로드 */
    .appDownWrap {
        margin:10px 20px;
    }
    .appDownWrap > p {
        padding:20px 0;
        font-size:14px;
    }
    .appDownBtn {
        margin:10px 0;
    }
    /* 공통 msg */
    .msg {
        font-size:12px;
    }
}

/* media screen max-width:480px */
@media  screen and (max-width:480px) {
    /* button */
    .backBtn {
        height:40px;
        font-size:12px;
    }
    /* input */
    input {
        height:30px;
        padding:0 9px;
        border-radius:4px;
    }
    input::placeholder {
        font-size:12px;
    }
    /* 공통박스 */
    .commonWrap {
        margin:20px auto;
        padding:0 10px;
    }
    .commonTxt {
        font-size:12px;
    }
    /* 앱 다운로드 */
    .appDownWrap {
        padding:5px 20px;
    }
    .appDownWrap > p {
        padding:10px 0;
        font-size:12px;
    }
    .appDownBtn {
        margin:5px 0;
    }
    /* 공통 msg */
    .msg {
        font-size:11px;
    }
}