/* 로그인 화면 메뉴 */
.loginWrap {
    max-width:975px;
} 
.loginInner {
    width:320px;
    border:1px solid #d8d8d8;
    padding:50px 30px;
    margin:35px 0 10px;
    background:#fff;
}    

.pwFind a {
    color:var(--skyBlue);
}
.joinBtnWrap button {
    background:none;
    border:none;
    color:var(--skyBlue);
}
.loginLeft {
    display:inline-block;
}

/* screen max-width:880px */
@media screen and (max-width:880px) {
     /* 로그인 좌측 이미지 */
    .loginLeft {
        display:none;
    }
    .loginRight {
        margin:0 auto;
    }
}

/* screen min-width:481px */
@media screen and (min-width:481px) {

    /* 로그인 화면 메뉴 */
    .loginWrap {
        margin:100px auto;
    }
    .loginInner {
        padding:50px 30px;
        margin:35px 0 10px;

    }    
    /* 계정이 없으신가요? */
    .pwFind {
        padding:20px 0px 30px;
    }
    .pwFind a {
        font-size:12px;
    }

    /* 가입하기 버튼 */
    .joinBtnWrap button {
        font-size:12px;
    }
    .joinBtnWrap span {
        font-size:12px;
    }

}

/* screen max-width:480px */
@media screen and (max-width:480px) {

    /* 로그인 화면 메뉴 */
    .loginWrap {
        margin:100px auto;
    }
    .loginInner {
        padding:50px 20px;
        margin:35px 0 10px;
        background:none;
        border:none;
    }    

    /* 계정이 없으신가요? */
    .pwFind {
        padding:20px 0px 30px;
    }
    .pwFind a {
        font-size:11px;
    }

    /* 가입하기 버튼 */
    .joinBtnWrap button {
        font-size:11px;
    }
    .joinBtnWrap span {
        font-size:11px;
    }
    
}