
/* .resetWrap .innerWrap .inner */
.resetWrap > .innerWrap .inner {
    max-width:460px;
    margin:0 auto;
    border:1px solid #d8d8d8;
    text-align:center;
    background:#fff;
}
/* resetTxt */
.resetTxt {
    margin:10px 0;
    color:#262626;
}

/* screen min-width:481px */
@media screen and (min-width:481px) {
    /* --- */
    .resetWrap > .innerWrap .inner01 {
        padding:50px 30px;
    }
    /* --- */
    .resetTxt {
        font-size:16px;
    }
    /* --- */
    .loginLinkBtn {
        font-size:14px;
    }
    /* --- */
    .newAccountWrap {
        margin:50px 0;
    }
    .newAccountWrap a {
        font-size:14px;
    }
}

/* screen max-width:480px */
@media screen and (max-width:480px) {
    /* --- */
    .resetWrap > .innerWrap .inner {
        background:none;
        border:none;
    }
    .resetWrap > .innerWrap .inner01 {
        padding:25px 20px 0;
    }
    /* --- */
      .resetTxt {
        font-size:14px;
    }
    /* --- */
    .loginLinkBtn {
        height:30px;
        font-size:12px;
    }
    /* --- */
    .newAccountWrap {
        margin:25px 0;
    }
    .newAccountWrap a {
        font-size:12px;
    }
    
}