/* --- */
.userPage > .innerWrap .inner {
    max-width:460px;
    margin:0 auto;
    border:1px solid #d8d8d8;
    text-align:center;
    background:#fff;
}
.profileEditLeft {
    flex-grow:1;
}
.profileEditLeft .profileImg {
    width:150px;
    margin-left:auto;
    margin-right:auto;
}
.profileEditLeft .profileImg img {
    width:150px;
    height:150px;
}
.profileEditRight {
    display:flex;
    flex-direction:column;
    flex-grow:2;
}
.profileEditRight .rightTop {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom:20px;
}
.profileEditRight .rightTop > p {
    font-size:28px;
}

.profileEditBtn {
    height:30px;
    margin-left:20px;
    border-radius:5px;
    background:#fff;
    border:1px solid #dfdfdf;
    color:#212121;
    cursor:pointer;
}

.userBoardWrap {
    display:flex;
    flex-direction:row;
    margin-bottom:30px;
    text-align:center;
}
.userBoardWrap .board {
    width:33.3%;
    height:290px;
    margin-right:30px;
    background:red;
}
.userBoardWrap .board:nth-child(3n) {
    margin-right:0;
}

@media screen and (min-width:769px) {
   
    
}

@media screen and (max-width:768px) {

}